<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/coins/<%=coin.id%>">Return to Coin</a>
        <h1>Edit Coin</h1>
        <form action="/coins/<%=coin.id%>?_method=PUT" method="POST">
            <label for="name">Coin Type</label>
            <input type="text" name="name" id="name" value="<%=coin.name%>"/>
            <label for="headImg">Image of Head</label>
            <input type="text" name="headImg" id="headImg" value="<%=coin.headImg%>"/>
            <label for="tailImg">Image of Tail</label>
            <input type="text" name="tailImg" id="tailImg" value="<%=coin.tailImg%>"/>
            <label for="year">Coin Year</label>
            <input type="number" name="year" id="year" min="1792" max="2021" value="<%=coin.year%>"/>
            <label for="desc">How'd you come across this coin or anything you'd like to say about it</label>
            <textarea name="desc" id="desc"><%=coin.desc%></textarea>
            <input type="submit" value="Finish Editing Coins"/>
        </form>
    </body>
</html>
