<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/coins">Return</a>
        <h1>Coin Show Page</h1>
        <h2><%=coin.name:%> <%=coin.year%></h2>
        <img src=
            <% if (coin.headImg === "") { %>
                "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
            <% } else { %>
                "<%=coin.headImg%>"
            <% } %>
            alt="">
        <img src=
            <% if (coin.tailImg === "") { %>
                "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
            <% } else { %>
                "<%=coin.tailImg%>"
            <% } %>
            alt="">
        <p>Desc: <%=coin.desc%></p>
        <p>When coin was added: <%=coin.createdAt%></p>
    </body>
</html>
