<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/show.css">
    </head>
    <body>
        <div class="heading">
            <a href="/coins">Return to Collection</a>
            <a href=/coins/<%=coin._id%>/edit>Edit Coin Information</a>
        </div>
        <h1>Coin Show Page</h1>
        <div class="coin-body">
            <div class="coin-intro">
                <h2><%=coin.name%>:</h2>
                <h2>Year <%=coin.year%></h2>
            </div>
            <img class='coin-img' src=
                <% if (coin.headImg === "") { %>
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
                <% } else { %>
                    "<%=coin.headImg%>"
                <% } %>
            alt=""/>
            <img class='coin-img' src=
                <% if (coin.tailImg === "") { %>
                    "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
                <% } else { %>
                    "<%=coin.tailImg%>"
                <% } %>
            alt=""/>
        </div>
        <div class="coin-foot">
            <p>Desc: <%=coin.desc%></p>
            <p>When coin was added: <%=coin.createdAt%></p>
            <form action="/coins/<%=coin._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Remove Coin">
            </form>
        </div>
    </body>
</html>
